<!DOCTYPE html>
<html lang="tr">
<head>
    <title>SNT YAZILIM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>LeadMark Landing page | Free Bootstrap 4.3.x landing page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="../../vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
    <link rel="stylesheet" href="../../css/leadmark.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../imgs/logo-snt.png" alt=""><a style="color: #ff6e42; font-size: 24px; font-weight: 600;">SNT Yazılım</a>
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#privacy">Gizlilik Politikası</a>
                    </li>
                    <li class="nav-item">
                        <a class="ml-4 nav-link btn btn-primary btn-sm rounded" href="#contact">Bize Ulaşın</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    @RenderBody()


    <!-- End of Testmonial Section -->
    <!-- Contact Section -->
    <section id="contact" class="section has-img-bg pb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 my-3">
                    <h6 class="mb-0">Telefon</h6>
                    <p class="mb-4">+(90) 542 720 14 16</p>

                    <h6 class="mb-0">Adres</h6>
                    <p class="mb-4">
                        Şükrüpaşa Mah. Zübeyde Hanım Cad. Trakya Üniversitesi Teknoloji Geliştirme Bölgesi
                        No: 3/2 Merkez / EDİRNE
                    </p>

                    <h6 class="mb-0">Email</h6>
                    <p class="mb-0">info@sntyazilim.com.tr</p>
                    <p></p>
                    <div>
                        <a href="https://tr.linkedin.com/company/snt-yazılım-teknoloji-arge-danışmanlık-dış-ticaret-ltd-şti"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                        <a href="https://www.facebook.com/SNT-Yazılım-Teknoloji-ARGE-Danışmanlık-Dış-Tic-Ltd-Şti-103708405551593/"><i class="fa fa-facebook-square" style="font-size:24px;"></i></a>
                        <a href="https://twitter.com/sntyazilimtekn"><i class="fa fa-twitter-square" style="font-size:24px;"></i></a>
                        <a href="https://www.instagram.com/sntyazilimtekn/"><i class="fa fa-instagram" style="font-size:24px;"></i></a>

                    </div>
                </div>
                <div class="col-md-7">
                    <form>
                        <h4 class="mb-4">Bize Ulaşın</h4>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <input type="text" class="form-control text-white rounded-0 bg-transparent" name="name" placeholder="Name">
                            </div>
                            <div class="form-group col-sm-4">
                                <input type="email" class="form-control text-white rounded-0 bg-transparent" name="Email" placeholder="Email">
                            </div>
                            <div class="form-group col-sm-4">
                                <input type="text" class="form-control text-white rounded-0 bg-transparent" name="subject" placeholder="Subject">
                            </div>
                            <div class="form-group col-12">
                                <textarea name="message" id="" cols="30" rows="4" class="form-control text-white rounded-0 bg-transparent" placeholder="Message"></textarea>

                            </div>
                            <div class="form-group col-12 mb-0">
                                <button type="submit" class="btn btn-primary rounded w-md mt-3">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Page Footer -->
            <footer class="mt-5 py-4 border-top border-secondary">
                <ul class="list-inline footerul">
                    <li class="list-inline-item footerli"><a class="footera" href="/Home/Index">Ana Sayfa</a></li>
                    <li class="list-inline-item footerli"><a class="footera" href="#privacy">Gizlilik Politikası</a></li>
                </ul>
            </footer>
            <!-- End of Page Footer -->
        </div>
    </section>

    <!-- Back To Top -->
    <a href="#" id="back-to-top" class="btn2 btn2-lg btn2-primary btn2-lg-square back-to-top">
        <div style="padding-top:10px">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
            </svg>
        </div>
    </a>
    <!-- core  -->
    <script src="../vendors/jquery/jquery-3.4.1.js"></script>
    <script src="../vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="../vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope -->
    <script src="../vendors/isotope/isotope.pkgd.js"></script>

    <!-- LeadMark js -->
    <script src="../js/leadmark.js"></script>



    <script>
        // Get the button
        let mybutton = document.getElementById("back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


</body>
</html>

