@{
    ViewData["Title"] = "Home Page";
}
<!-- Page Header -->
<header class="header">
    <div class="overlay">
        <h1 class="subtitle">Tematik Yatırım ve Robo Danışmanlık Platformu</h1>
        <h1 class="title">Yeni Yatırım Teknolojileriyle</h1>
        <h1 class="title">Yaratıcı Çözümler</h1>
        <h1 class="title">Üretiyoruz</h1>
    </div>
    <div class="shape">
        <svg viewBox="0 0 1500 200">
            <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
        </svg>
    </div>
    <div class="mouse-icon"><div class="wheel"></div></div>
</header>
<!-- About Section -->
<section class="section" id="about">
   
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 pl-md-5">
                <h6 class="section-title mb-0">Biz Kimiz ?</h6>
                <div class="row">
                    <div class="col-6">
                        <img src="../imgs/about-1.jpg" alt="" class="w-100 shadow-sm">
                    </div>
                    <div class="col-6">
                        <img src="../imgs/about-2.jpg" alt="" class="w-100 shadow-sm">
                    </div>
                    <div class="col-12 mt-4">
                        <p>
                            SNT Yazılım Teknoloji ARGE Danışmanlık Dış Tic. Ltd. Şti. Ülkemizin ihtiyaç duyduğu yüksek teknolojiye dayalı ürün ve hizmetleri üretmek ve Ar-Ge, Ür-Ge ve İnovasyon projeleri geliştirmek, yüksek katma değerli ürünler ile iç ve dış pazarlara açılmak, yüksek nitelikli insan kaynağı ve inovasyon kapasitesi ile geleceğin finansal ürün ve hizmetlerini tasarlayıp sunmak üzere, KOSGEB Edirne Müdürlüğü’nün 26.05.2021 tarih ve 2021-649-7 sayılı, Ar-Ge, Ür-Ge ve İnovasyon Destek Programı kapsamında,
                            “Tematik Yatırım ve Robo Danışmanlık Platformu”
                            geliştirmek üzere Trakya Üniversitesi Teknoloji Geliştirme Bölgesinde (Trakya Teknopark) 02.06.2021 tarihinde kurulmuştur.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                <p>
                    Şirket kuruluşunu ve organizasyonunu çok kısa bir süre içerisinde tamamlamış, taahhüt ettiği ürün, hizmet ve modülleri zamanında ve eksiksiz hizmete almıştır.
                </p>
                <p>
                    <b>
                        SNT Yazılım bütün gücünü ve motivasyonunu,
                        ülkenin geleceğine inanan, genç, yüksek nitelikli
                        ve yenilikçi takım arkadaşlarından almaktadır.
                    </b><br>
                </p>
                <img src="../imgs/about.jpg" alt="" class="w-100 mt-3 shadow-sm">
            </div>

        </div>
    </div>
</section>
<!-- End OF About Section -->
<!-- Portfolio Section -->
<section id="portfolio" class="section portfolio-section">
    <div class="container">
        <div class="filters">
            <a href="#" data-filter=".list1" class="active">
                Misyonumuz
            </a>
            <a href="#" data-filter=".list2">
                Vizyonumuz
            </a>
        </div>
        <div class="portfolio-container">
            <div class="col-12 list1">
                <p style="font-size: 25px; padding: 10px; margin: 10px;">
                    <span style="color:#ff6e42;" class="material-symbols-outlined">
                        format_quote
                    </span>
                    Yenilikçi teknolojileri kullanarak yatırımcıların tüm piyasalarda yazılım bilgisine ihtiyaç duymadan sistematik işlem yapmasını sağlayacak ürünler geliştirmek, finansal teknolojileri yeni ürünler ile şirketlerin ve son kullanıcıların faydasına sunmak.
                </p>
            </div>

            <div class="col-12 list2">
                <p style="font-size: 25px; padding: 10px; margin: 10px;">
                    <span style="color:#ff6e42;" class="material-symbols-outlined">
                        format_quote
                    </span>
                    Finans piyasalarında yapay zeka ve uzman sistemlerin kullanımının yaygınlaşmasında öncü firmalardan olmak ve bu bağlamda ülkemizdeki yatırım anlayışının algoritmik işlem mantığına evrilmesinde rol almak. Geliştirilecek finansal teknolojiler ile şirketlerin ve son kullanıcıların ihtiyaç duyduğu en nitelikli bilgiyi sağlayıcı çözümler üretmektir.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- End of portfolio section -->
<!-- Blog Section -->
<section class="section" id="blog">
    <div class="container">
        <h6 class="section-title mb-0 text-center">Çalışma Alanlarımız</h6>
        <div class="row">
            <div class="col-md-6 pl-md-5 list1">
                <ul class="item1">
                    <li class="item2"><i class="material-icons">computer</i> Tematik Yatırım ve Robo Danışmanlık Platformları</li>
                    <li class="item2"><i class="material-icons">computer</i> Makine Öğrenmesi ve Yapay Zeka Destekli Finansal Çözümler</li>
                    <li class="item2"><i class="material-icons">computer</i> Finansal Uygulama Yazılımları</li>
                    <li class="item2"><i class="material-icons">computer</i> Finansal Eğitim Uygulama Yazılımları</li>
                    <li class="item2"><i class="material-icons">computer</i> E-Ticaret Sistemleri</li>
                    <li class="item2"><i class="material-icons">computer</i> Yönetim Bilişim Sistemleri</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 list1">
                <ul class="item1">
                    <li class="item2"><i class="material-icons">computer</i> Karar Destek Sistemleri</li>
                    <li class="item2"><i class="material-icons">computer</i> Muhasebe Uygulamaları</li>
                    <li class="item2"><i class="material-icons">computer</i> Muhasebe ve Finans Konularında Danışmanlık Hizmetleri</li>
                    <li class="item2"><i class="material-icons">computer</i> Hazine ve Portföy Yönetimi Hizmetleri</li>
                    <li class="item2"><i class="material-icons">computer</i> Değerleme Hizmetleri (Varlık, Şirket ve Kredi Değerlemesi)</li>
                    <li class="item2"><i class="material-icons">computer</i> Kurumsal Yönetim Derecelendirmesi</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- End of Blog Section -->
<!-- Products Section -->
<section class="section" id="products">
    <div class="container">
        <h6 class="section-title mb-0 text-center">Ürünlerimiz</h6>
        <div class="row">
            <div class="list2">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-4">
                            <img src="../imgs/snt-photo.jpeg" alt="" class="w-100 shadow-sm">

                        </div>
                        <div class="col-lg-8">
                            <h6 class="section-title mb-6">Tematik Yatırım ve Robo Danışmanlık Platformu</h6>
                            <p>
                                Platformun temel amacı; yatırım yapma konusunda bilgi ve tecrübesi bulunmayan müşterilerde dahil olmak üzere, risk ve getiri tercihlerine bağlı olarak, kolay bir şekilde sermaye piyasalarında yatırım yapabilmesini ve bu yatırımlarını algoritmik işlemler yoluyla aktif bir şekilde yönlendirebilmesine ve varlık seçimine imkân verecek otomatik bir işlem platformu oluşturmaktır. Bu noktada platform aracılığıyla yatırımcılara otomatik işlem yapma ve otomatik varlık seçimi imkânı sağlanması yanında, seçilen varlık grubunun performansını da anlık olarak izlenebileceği ve karşılaştırabileceği dinamik bir yapı sunmaktır.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Products Section -->
<!-- Testmonial Section -->
<section class="section portfolio-section" id="team">
    <div class="container">
        <h6 class="section-title text-center mb-0">Ekibimiz</h6>
        <div class="container">
            <div class="portfolio-container">
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item ">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2 ">Sonat BAYRAM</h2>
                            <p class="p">
                                CPA, Yönetim Kurulu Başkanı
                            </p>
                            <p class="p">
                                (Chairman of the Board)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Sonat BAYRAM</h6>
                                <p class="subtitle">CPA, Yönetim Kurulu Başkanı</p>
                                <a href="https://tr.linkedin.com/in/sonat-bayram-ph-d-cpa-cfa-candidate-b464b645"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Beklem Serenat ÇOLAKOĞLU</h2>
                            <p class="p">
                                Yönetim Kurulu Üyesi / Müdür
                            </p>
                            <p class="p">
                                (Board Manager / Manager)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Beklem Serenat ÇOLAKOĞLU</h6>
                                <p class="subtitle">Yönetim Kurulu Üyesi/Müdür</p>
                                <a href="https://tr.linkedin.com/in/beklem-serenat-çolakoğlu-639282a9"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Melih YILDIRIM</h2>
                            <p class="p">
                                Yazılım Geliştirici
                            </p>
                            <p class="p">
                                (Software Developer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Melih YILDIRIM</h6>
                                <p class="subtitle">Yazılım Geliştirici</p>
                                <a href="https://www.linkedin.com/in/melih-yıldırım-758346131/"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Mahmut AKAD</h2>
                            <p class="p">
                                Yazılım Mühendisi
                            </p>
                            <p class="p">
                                (Software Engineer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Mahmut AKAD</h6>
                                <p class="subtitle">Yazılım Mühendisi</p>
                                <a href="https://tr.linkedin.com/in/mahmut-akad-905b85197"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Muhammed Gazali YEŞİLMEN</h2>
                            <p class="p">
                                Yazılım Mühendisi
                            </p>
                            <p class="p">
                                (Software Engineer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Muhammed Gazali YEŞİLMEN</h6>
                                <p class="subtitle">Yazılım Mühendisi</p>
                                <a href="https://tr.linkedin.com/in/muhammedyesilmen"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Aylin ÖZER</h2>
                            <p class="p">
                                Proje Koordinatörü
                            </p>
                            <p class="p">
                                (Project Coordinator)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Aylin ÖZER</h6>
                                <p class="subtitle">Proje Koordinatörü</p>
                                <a href="https://tr.linkedin.com/in/aylin-özer-2473171a3"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Han DEMİRER</h2>
                            <p class="p">
                                Yazılım Mühendisi
                            </p>
                            <p class="p">
                                (Software Engineer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Han Demirer</h6>
                                <p class="subtitle">Yazılım Mühendisi</p>
                                <a href="https://tr.linkedin.com/in/handemirer"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Feyza Nur CİHAN</h2>
                            <p class="p">
                                Yazılım Mühendisi
                            </p>
                            <p class="p">
                                (Software Engineer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Feyza Nur CİHAN</h6>
                                <p class="subtitle">Yazılım Mühendisi</p>
                                <a href="https://tr.linkedin.com/in/feyza-nur-cihan"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Songül KESKİN</h2>
                            <p class="p">
                                Yazılım Mühendisi
                            </p>
                            <p class="p">
                                (Software Engineer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Songül Keskin</h6>
                                <p class="subtitle">Yazılım Mühendisi</p>
                                <a href="https://tr.linkedin.com/in/songul-b8b678127"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Hasan DUMAN</h2>
                            <p class="p">
                                Yazılım Mühendisi
                            </p>
                            <p class="p">
                                (Software Engineer)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Hasan DUMAN</h6>
                                <p class="subtitle">Yazılım Mühendisi</p>
                                <a href="https://tr.linkedin.com/in/hasandumann"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 list1 list2">
                    <div class="portfolio-item">
                        <div class="box2 red img-fluid box-shadow">
                            <h2 class="h2">Emel ARSLAN</h2>
                            <p class="p">
                                SMMM, Mali İşler Direktörü
                            </p>
                            <p class="p">
                                (Financial Affairs Director)
                            </p>
                        </div>
                        <div class="content-holder">
                            <a class="img-popup" href="../imgs/web-1.jpg"></a>
                            <div class="text-holder">
                                <h6 class="title">Emel ARSLAN</h6>
                                <p class="subtitle">SMMM, Mali İşler Direktörü</p>
                                @*<a  href=""><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

