@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_PrivacyLayout.cshtml";

}

<!-- Page Header -->
<section class="section has-img-bg" id="privacy">
    <div class="row">

        <div style="width:100%;padding-left:10%;padding-right:15%; padding-top: 6em;">
            <p style="text-align: center; color: white" class="section-title">GİZLİLİK SÖZLEŞMESİ</p>
            <br>
            <h5 style="color: #ff6e42;">İNTERNET SİTESİ KULLANIM KOŞULLARI VE ÜYELİK SÖZLEŞMESİ </h5>
            <br>
            Bu internet sitesini (www.sntyazilim.com.tr) (Kısaca "SİTE" olarak anılacaktır) kullanmak için lütfen aşağıda yazılı
            koşulları okuyunuz. Bu SİTE'de sunulan hizmetlerden yararlananlar veya herhangi bir şekilde SİTE'ye erişim sağlayan her
            gerçek ve tüzel kişi aşağıdaki kullanım koşullarını kabul etmiş sayılmaktadır.
            <br><br>
            <h5 style="color: #ff6e42;">KULLANIM KOŞULLARI </h5>
            <br>
            Bu SİTE'de sunulan hizmetler Şükrüpaşa Mah. Zübeyde Hanım Cad. Trakya
            Üniversitesi Teknoloji Geliştirme Bölgesi No: 3/2 Merkez/ EDİRNE adresinde bulunan
            <b>SNT Yazılım Teknoloji ARGE Danışmanlık Dış Tic.Ltd.Şti.</b> (Mersis No:
            0772138382100001) (Bundan böyle kısaca <b>"SNT Yazılım"</b> olarak anılacaktır.) tarafından
            sağlanmaktadır ve SİTE'nin kanuni sahibi <b>SNT Yazılım</b> olup, SİTE üzerinde her türlü kullanım ve
            tasarruf yetkisi <b>SNT Yazılım</b>'a aittir.
            <br><br />
            İşbu kullanım koşulları, <b>SNT Yazılım</b> tarafından gerektiğinde değiştirilebilir.
            Değişiklik olması halinde, bunlar SİTE'de yayınlanacak ve aynı tarihten itibaren geçerli olacaktır.
            <br /><br />
            SİTE hizmetlerinden faydalanan ve SİTE'ye erişim sağlayan her gerçek ve tüzel kişi, <b>SNT Yazılım </b>
            tarafından işbu kullanım koşulları hükümlerinde yapılan her değişikliği, önceden kabul etmiş sayılmaktadır.
            <br /><br />
            <b>SNT Yazılım</b>, bu SİTE'de yer alan veya alacak olan bilgileri, formları ve içeriği dilediği zaman değiştirme
            hakkını saklı tutmaktadır.
            <br /><br>
            <h5 style="color: #ff6e42;">SÖZLEŞME TANIMLARI</h5>
            <br>
            <ul>
                <li>
                    <u>SİTE</u> : <b>SNT Yazılım</b> tarafından belirlenen çerçeve içerisinde çeşitli hizmetlerin ve içeriklerin sunulduğu çevrimiçi
                    ortamdan erişimi mümkün olan internet sitesidir.
                </li>
                <br />
                <li>
                    <u>ÜYE</u> : <b>SNT Yazılım</b>'dan ürün alımı yapmak üzere faydalanmak isteyen, seçmiş olduğu üyelik formunu eksiksiz doldurarak,
                    <b>SNT Yazılım</b> tarafından üyelikleri onaylanarak, kabul edilen her gerçek kimlik bilgileri ile SİTE'deki ilgili üyelik
                    formunu eksiksiz doldurarak üye olabilirler.
                </li>
                <br />
                <li>
                    <u>KULLANICI</u> : <b>SNT Yazılım</b> internet sitesini alışveriş yaparak veya alışveriş yapmaksızın ziyaret eden kişidir.
                </li>
                <br />
                <li>
                    <u>LİNK</u> : SİTE üzerinden bir başka internet sitesine, dosyalara, içeriğe veya başka bir internet sitesinden SİTE'ye
                    dosyalara ve içeriğe erişimi mümkün kılan bağlantıdır.
                </li>
                <br />
                <li>
                    <u>İÇERİK</u> : SİTE'de veya herhangi bir internet sitesinde yayınlanan veya erişimi mümkün olan her türlü bilgi, dosya,
                    resim, program, rakam, fiyat, vs. görsel, yazılı ve işitsel imgelerdir.
                </li>
                <br />
                <li>
                    <u>İNTERNET SİTESİ KULLANIM KOŞULLARI SÖZLEŞMESİ</u> : SİTE vasıtası ile sunulmakta olan ticari ve kişiye özel nitelikteki
                    hizmetlerden yararlanacak gerçek veya tüzel kişilerle <b>SNT Yazılım</b> arasında elektronik ortamda akdedilen işbu sözleşmedir.
                </li>
                <br />
                <li>
                    <u>KİŞİSEL BİLGİ</u> : Üyenin kimliği, adresi, elektronik posta adresi, telefon numarası, IP adresi, SİTE'nin hangi bölümlerini ziyaret
                    ettiği, domain tipi, browser tipi, ziyaret tarihi, saati, vs. bilgilendirilir.
                </li>
            </ul>
            <br><br />
            <h5 style="color: #ff6e42;">HİZMETLERİN KAPSAMI</h5>
            <br />
            <b>SNT Yazılım</b>'ın, SİTE üzerinden sunacağı hizmetler sınırlı olmamak üzere; <b>SNT Yazılım</b>'e ait www.sntyazilim.com.tr adresinde satışa
            sunulan ürünlerin; ÜYE tarafından bedeli ödendikten sonra, tedarikçinin stok durumunun müsait olması halinde "sözleşmenin satıcıya
            yüklediği, malın teslim edilmesi" borcunun ifa edilebilir olması durumunda, taahhüt edilen sürede malın müşteriye kargo firması
            tarafından <b>SNT Yazılım</b> adına ayıpsız olarak teslimidir.
            <br /><br />
            <b>SNT Yazılım</b>, SİTE üzerinden vereceği hizmetlerin kapsamını ve niteliğini belirlemekte tamamen serbest olup, hizmetlere ilişkin olarak yapacağı
            değişiklikleri SİTE'de yayınlamasıyla yürürlüğe koymuş kabul edilir.
            <br /><br />
            SİTE bünyesinde sunulacak hizmetlerden yararlanabilmek için kullanıcıların SNT Yazılım tarafından belirlenecek ve SİTE'nin ilgili bölümünün içeriğinde
            belirtilecek özellikleri taşıması gerekmektedir. <b>SNT Yazılım</b>, bu özellikleri belirlemekte tamamen serbest olup, özelliklere ilişkin olarak yapacağı
            değişiklikleri SİTE'de yayınlaması ile yürürlüğe koymuş kabul edilir.
            <br /><br />
            <h5 style="color: #ff6e42;">GENEL HÜKÜMLER</h5>
            <br />
            SİTE üzerinden, <b>SNT Yazılım</b>'ın kendi kontrolünde olmayan ve başkaca üçüncü kişilerin sahip olduğu ve işlettiği başka internet sitelerine veya başka içeriklere
            link verebilir. Bu linkler KULLANICI'lara ve ÜYE'lere yönlenme kolaylığı sağlamak amacı ile konmuş olup herhangi bir internet sitesini veya o siteyi işleten
            kişiyi desteklememektedir. Link verilen internet sitesinin içerdiği bilgilere yönelik herhangi bir türde bir beyan veya garanti niteliği taşımamaktadır.
            SİTE üzerindeki linkler vasıtası ile erişilen internet siteleri ve içerikleri hakkında <b>SNT Yazılım</b>'ın herhangi bir sorumluluğu yoktur. Bu sitelerin kullanımından
            doğacak zararlar, KULLANICI'ların ve ÜYE'lerin kendi sorumluluğundadır. <b>SNT Yazılım</b>, üçüncü kişiler tarafından sağlanan hizmetlerin ve içeriklerin güvenliğini,
            doğruluğunu ve hukuka uygunluğunu taahhüt etmemektedir.
            <br /><br />
            SİTE'yi kullananlar, yalnızca hukuka uygun ve şahsi amaçlarla SİTE üzerinden işlem yapabilirler. KULLANICI'ların ve ÜYE'lerin, SİTE dahilinde yaptığı her işlem ve
            eylemdeki hukuki ve cezai sorumlulukları kendilerine aittir. Her kullanıcı ve her üye, <b>SNT Yazılım</b> veya başka bir üçüncü kişinin haklarına tecavüz teşkil edecek
            nitelikteki herhangi bir faaliyette bulunmayacağını taahhüt eder. KULLANICI ve ÜYE'lerin SİTE üzerindeki faaliyetleri nedeniyle üçüncü kişilerin uğradıkları ve
            uğrayabilecekleri zararlardan dolayı <b>SNT Yazılım</b>'ın doğrudan veya dolaylı hiçbir sorumluluğu yoktur.
            <br /><br />
            İşbu SİTE'nin sahibi <b>SNT Yazılım</b>'dır. Bu sitede bulunan bilgileri yazılar, resimler, markalar, slogan ve diğer işaretler ile sair sınai ve fikri mülkiyet haklarına
            ilişkin bilgilerin korunmasına yönelik programlar ile, sayfa düzeni ve SİTE'nin sunumu <b>SNT Yazılım</b>'ın veya <b>SNT Yazılım</b>'ın izin ve lisans aldığı kuruluşların
            mülkiyetindedir. İşbu SİTE'deki bilgilerin veya SİTE sayfalarına ilişkin her tür veritabanı, internet sitesi, software-code'ların, html kodu ve diğer kodlar vs.
            ile SİTE içeriğinde bulunan ürünlerin, tasarımların, resimlerin, metinlerin, görsel, işitsel vesair imgelerin, video kliplerin, dosyaların, katalogların ve
            listelerin kısmen veya tamamen kopyalanması, değiştirilmesi yayınlanması, online veya diğer bir medya kullanılmak suretiyle gönderimi, dağıtımı, satılması yasaktır.
            KULLANICI ve ÜYE, yukarıda belirtilen ve bunlarla sınırlı olmayan SİTE yazılım, donanım ve içeriğini çoğaltmayacağını, kopyalamayacağını, dağıtmayacağını,
            işlemeyeceğini, gerek bu eylemleri ile gerekse de başka yollarla <b>SNT Yazılım</b> ile doğrudan veya dolaylı olarak rekabete girmeyeceğini kabul ve taahhüt etmektedir.
            KULLANICI ve ÜYE, <b>SNT Yazılım</b> hizmetlerini, <b>SNT Yazılım</b> bilgilerini ve <b>SNT Yazılım</b>'ın telif haklarına tabi çalışmlarını yeniden satmak, işlemek, paylaşmak, dağıtmak,
            sergilemek veya başkasının <b>SNT Yazılım</b>'ın hizmetlerine erişmesi veya kullanmasına izin vermek hakkına sahip değildir. Bu sayfadaki bilgilerin kısmen kopyalanması,
            dağıtılması, çoğaltılması, sergilenmesi ancak ticari olmayan kişisel ihtiyaçlar için ve <b>SNT Yazılım</b>'ın yazılı izni ile mümkündür.
            <br /><br />
            <b>SNT Yazılım</b>, SİTE üzerinden KULLANICI'lar ve ÜYE'ler tarafından kendisine iletilen bilgileri "Gizlilik Politikası" ve "İnternet Sitesi Kullanım Koşulları" hükümleri
            doğrultusunda kullanılabilir. Bu bilgileri işleyebilir, bir veritabanı üzerinde tasnif edip muhafaza edebilir. <b>SNT Yazılım</b> aynı zamanda, KULLANICI ve ÜYE'nin kimliği,
            adresi, elektronik posta adresi, telefon numarası, IP adresi, SİTE'nin hangi bölümlerini ziyaret ettiği, domain tipi, browser tipi, ziyaret tarihi, saati vs. bilgileri de
            istatistiki değerlendirme, kampanyaların duyurusunu yapma ve kişiye yönelik hizmetler sunma gibi amaçlarla kullanılabilir. KULLANICI'lara ve ÜYE'lere ait kişisel bilgiler,
            kanunla yetkili kılınan mercilerin talebi ve aşağıda sayılan haller hariç olmak üzere gerçek ve tüzel üçüncü kişilere açıklanmayacaktır. Kişisel bilgiler ender olarak
            <b>SNT Yazılım</b> için veya onun adına davranan üçüncü taraflara veya <b>SNT Yazılım</b>'ın işi ile ilgili olanlara verilerin özgün olarak kullanım amaçlarını daha iyi
            işlemek ya da KULLANICI'ların ve ÜYE'lerin önerdiği amaçlara uygun olarak daha iyi hizmet verebilmek üzere verilir.
            <br /><br />
            İşbu SİTE Kullanım Koşulları dahilinde SNT Yazılım tarafından açıkça yetki verilmesi hallerde <b>SNT Yazılım</b>, <b>SNT Yazılım</b> hizmetleri, <b>SNT Yazılım</b> bilgileri,
            <b>SNT Yazılım</b> telif haklarına tabi çalışmaları, <b>SNT Yazılım</b> ticari markaları, <b>SNT Yazılım</b> ticari görünümü veya bu SİTE vasıtası ile sağladığı başkaca
            varlık ve bilgilere yönelik tüm haklarını saklı tutmaktadır.
            <br /><br />
            <h4>SORUMLUĞUN SINIRLANDIRILMASI</h4>
            <br />
            <b>SNT Yazılım</b>, SİTE'ye erişilmesi, SİTE'nin veya SİTE'deki bilgilerin ve diğer verilerin programlarının vs. kullanılması sebebi ile, sözleşmenin ihlali, haksız fiil veya başkaca
            nedenlere binaen, doğabilecek doğrudan veya dolaylı hiçbir zarardan sorumlu değildir. <b>SNT Yazılım</b>, sözleşmenin ihlali, haksız fiil, ihmal veya diğer sebepler neticesinde,
            işlemin kesintiye uğraması, hata, ihmal, kesinti hususunda herhangi bir sorumluluk kabul etmez. Bu SİTE'ye ya da link verilen diğer internet sitelerine erişilmesi
            veya SİTE'nin kullanılması ile <b>SNT Yazılım</b>'ın, kullanım/ziyareti sonucunda, doğabilecek her türlü sorumluluktan, mahkeme ve diğer masraflar da olmak üzere her tür zarar ve
            talep hakkından ayrı kılındığı kabul edilmektedir.
            <br><br>
            <h5 style="color: #ff6e42;">FİKRİ MÜLKİYET HAKLARI</h5>
            <br />
            SİTE'deki genel görünüm, tasarım, metin, imge logo, demonstratif, yazılı, elektronik, grafik veya makinede okunabilir
            şekilde sunulan teknik verileri, <b>SNT Yazılım</b> markası, uygulanan iş metodu ve modeli yazılım kodu ve diğer kodlar da
            dahil ve bunlarla sınırlı olmamak kaydıyla tüm unsurları <b>SNT Yazılım</b>'a aittir ve <b>SNT Yazılım</b> tarafından üçüncü bir
            kişiden alınan telif hakkı altında kullanılmaktadır. Fikri ve Sınai haklar kapsamında korunan <b>SNT Yazılım</b>'a ait tüm
            bu unsurlar çoğaltılamaz, başka bir lisana çevrilemez, yeniden yayımlanamaz, yeniden satılamaz, paylaşılamaz,
            dağıtılamaz, sergilenemez, bu sözleşme dışında kullanılamaz veya bunlardan türetilerek çalışmalar yapılamaz veya
            hazırlanamaz, aksi şekilde davranılması halinde, sorumlu kişi veya kişiler <b>SNT Yazılım</b>'ın uğradığı zararı ve lisans
            verenler de dahil üçüncü kişilerin uğradıkları zararlardan dolayı <b>SNT Yazılım</b>'dan talep edilen tazminat miktarını,
            mahkeme masrafları ve avukatlık ücreti de dahil olmak üzere karşılamakla yükümlü olacaklardır.
            <br /><br />
            <h5 style="color: #ff6e42;">SÖZLEŞMENİN DEVRİ</h5>
            <br />
            <b>SNT Yazılım</b>, bu sözleşmeyi bildirimsiz olarak istediği zaman kısmen veya bütünüyle devredebilir. Ancak KULLANICI
            ve ÜYE bu sözleşmeyi veya herhangi bir kısmını başka bir tarafa devredemez. Bu türden bir devir girişimi geçersizdir.
            <br /><br />
            <h5 style="color: #ff6e42;">MÜCBİR SEBEPLER</h5>
            <br />
            Hukuken mücbir sebep sayılan tüm durumlarda, <b>SNT Yazılım</b> işbu "İnternet sitesi kullanım koşulları ve üyelik sözleşmesi"ni
            geç ifa etmekten veya ifa etmemekten dolayı yükümlü değildir. Bu ve bunun gibi durumlar, <b>SNT Yazılım</b> açısından, gecikme
            veya ifa etmeme veya temerrüt addedilmeyecek veya bu durumlar için <b>SNT Yazılım</b>'ın herhangi bir tazminat yükümlülüğü
            doğmayacaktır
            <br /><br />
            <h5>UYGULANACAK HUKUK VE YETKİ</h5>
            <br />
            İşbu "İnternet sitesi kullanım koşulları ve üyelik sözleşmesi"ndan kaynaklanacak ihtilaflar Türk Hukuku'na tabidir ve
            yetkili mahkeme İstanbul Mahkemeleri ve İcra Daireleri'dir. <b>SNT Yazılım</b>'ın, KULLANICI ve ÜYE'nin bulunduğu ülkede dava
            açma hakkı saklıdır.
            <br /><br />
            <h5 style="color: #ff6e42;">YÜRÜRLÜK VE KABUL</h5>
            İşbu "İnternet sitesi kullanım koşulları ve üyelik sözleşmesi", <b>SNT Yazılım</b> tarafından SİTE içeriğinde ilan edildiği
            tarihte yürürlük kazanır. KULLANICI' lar ve ÜYE' ler, işbu sözleşme hükümlerini SİTE'yi kullanmakla kabul etmiş olmaktadırlar.
            <b>SNT Yazılım</b>, dilediği zaman işbu sözleşme hükümlerinde değişikliğe gidebilir, değişiklikler, sürüm numarası ve değişiklik
            tarihi belirtilerek SİTE üzerinden yayınlanır ve aynı tarihte yürürlüğe girer.
        </div>
    </div>
</section>
